@import "tailwindcss";

:root {
  --background: #180202;
  --foreground: #171717;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family:'Times New Roman', Times, serif;
  font-size:larger;
}

@keyframes bounceY {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px); /* how high it bounces */
  }
}

.bounce {
  animation: bounceY 3s ease-in-out infinite; /* 2s = speed */
}